/* Estilos comunes */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("https://www.salazarisrael.cl/_next/image?url=https%3A%2F%2Fcatalogo.gac-sa.cl%2Fassets%2Fvehiculos%2Fmatriz%2FSalazar%2F603%2Fprincipal%2FVOWN0207_principal.jpg&w=3840&q=75");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
}



h1, h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    align-items: stretch;
}


input, select, textarea, button {
    width: 100%;
    padding: 8px;
    margin-top: 6px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

button {
    background-color: #003366;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #005599;
}

table {
    width: 100%;
    border-collapse: collapse;
    background: #fff;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #003366;
    color: white;
}

a {
    color: #005599;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.box {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
    max-width: 90%;
    width: 100%;
    max-width: 600px;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-height: 100vh;x
}
.hidden {
    display: none;
}
.input-group {
    position: relative;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
}

.input-group input {
    width: 100%;
    padding-right: 40px;
}

.toggle-password {
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
}
label {
    text-align: left;
    width: 100%;
    font-weight: bold;
    margin-bottom: 4px;
}
